body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.3s, opacity 0.3s;
  z-index: 1000;
 
}
header {
  display: flex;
  justify-content: space-between;
  
  
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  padding: 0 1px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.content {
  background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  opacity:0.1;
  height: 25vh;
  padding: 145px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 98, 98, 0.5);
  z-index: -1;
  transform: translateZ(0);
}

.menu {
  background-color: #f9f9f9;
  padding: 50px;
  text-align: center;
}

.menu-item {
  display: inline-block;
  margin: 20px;
  text-align: left;
  width: 300px;
}

.menu-item img {
  width: 100%;
}

.about {
  padding: 50px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.butt {
  background-color: #ff0800;
  border-width: 0px;
}

.content {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s, transform 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

a {
  text-decoration: none;
}
h5 ,h3{
  margin: 0;
  padding: 0;
}
.order-link {
  font-size: smaller;
  /* Add any additional styling as needed */
}
