body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: #fff;
  
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.3s, opacity 0.3s;
  z-index: 1000;
 
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  padding : 0 1px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

.hero {
  background-image: url('https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: cover;
  color: #000000;
  height: 25dvh;
  padding: 145px;
  text-align: center;
}

.menu {
  background-color: #f9f9f9;
  padding: 50px;
  text-align: center;
}

.menu-item {
  display: inline-block;
  margin: 20px;
  text-align: left;
  width: 300px;
}

.menu-item img {
  width: 100%;
}

.about {
  padding: 50px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.butt {
  background-color: #ff0800;
  border-width: 0px;
}
.content {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s, transform 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
a{
  text-decoration: none;
  
}